%aside.right-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label Profile
    %li
      - if user_signed_in?
        = link_to 'Logout', destroy_user_session_path, :method => :delete
      - else
        = link_to 'Login', new_user_session_path

-# TODO: not sure what this does:
%a.exit-off-canvas{href: '#'}
